{% extends "admin/index.html" %}

{% block content_title %}{% endblock %}
{% block content %}

<table>
    <tr class="model-estabelecimento">
        <td><a href="{% url 'admin_superuser:estabelecimento_estabelecimento_add' %}" class="changelink">Editar informações gerais do estabelecimento</a></td>
    </tr>
    <tr>
        <td><a href="#" class="changelink">Editar opções alimentares disponíveis {{ teste }}</a></td>
    </tr>
</table>

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}
