{% extends "admin/change_form.html" %}

{% block content_title %}{% endblock %}
{% block sidebar %}{% endblock sidebar %}

{% block content %}
    <table>
        <tr class="model-estabelecimento">
            <td><a href="#" class="changelink">
                Informações gerais do estabelecimento
            </a></td>
            <td><a href="#" class="changelink">
                Cardápio padrão
            </a></td>
            <td><a href="#" class="changelink">
                Cardápio do dia
            </a></td>
        </tr>
    </table>
    <form enctype="multipart/form-data" action="." method="post" id="form" novalidate>
        {% csrf_token %}
        <div id="content-main">
            {% for html_form in html_forms %}
                {{ html_form }}
            {% endfor %}
        </div>
    </form>
{% endblock content %}
